body {
  background: white;
}

header {
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  height: 80px;
  width: auto;
  margin-right: 20px;
}

.left-panel {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.left-panel h1 {
  font-family: 'Chonburi', cursive;
  color: #73a292;
}

.right-panel a {
  font: 16px "Gotham_SSm_3r",Helvetica,Arial,sans-serif;
  color: #73a292;
  padding: 10px;
}

.middle-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-panel a, p {
  font: 16px "Gotham_SSm_3r",Helvetica,Arial,sans-serif;
  color: #73a292;
  padding: 30px;
}

.main {
  background-image: url("splash.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.main h2 {
  font: 64px 'Chonburi', cursive;
  color: white;
  padding: 50px;
  margin: 10px;
}

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-body {
  flex: 66.66%;
}

.right-body {
  flex: 33.33%;
}

footer {
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

footer a {
  font: 16px "Gotham_SSm_3r",Helvetica,Arial,sans-serif;
  color: #73a292;
  padding: 10px;
}
